<%- include("partials/header") -%>

<h1 class="text-center">"तुमचे विचार"</h1>
<br>
<br>

<% quotes.forEach(function(quote){%>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="pHome" >
        <%= quote.content %>
      </p>
      <h5 class="text-muted">-<%= quote.name %></h5>
    </div>
  </div>
<% })%>

<form class="" action="/composeForm" method="get">
  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-lg" name="button"><i class="fas fa-plus-circle"></i>  New Quote</button>
  </div>

</form>


<%- include("partials/footer") -%>
