<%- include("partials/header") -%>

<h1><strong>Contact</strong></h1>

<h3>For Call</h3>
<p>Goa : 7635428901 </p>

<h3>Mail</h3>
<p>ghumatmogigoa@gmail.com</p>

<%- include("partials/footer") -%>
