<%- include("partials/header") -%>

<h1><strong>Home</strong></h1>

<div class="home-intro">
  <p>Abiding culture with bundle of talents
    Ghumat Mogi providing you the best platform to showcase your talent related to instruments and our very own festive special Aartis.
    We are here  to  serve you with goa's best ghumat aarti singers, masters and vadaks performances preserving our culture.
    Also grab goan instruments on our website with affordable prices.
    Get an opportunity  to learn  ghumat aarti with our masters.</p>

  <p>The first ever website focusing on Ghumat Aarti.A huge platform to engross your talent and our culture together in a single and
      simple way.Grab the opportunity and be a part of our very own culture of ghumat aarti.
      An artist's need is what we look upto.looking forward to give you a  user friendly  platform with amazing features</p>
</div>


    <br>
      <hr>
    <br>
    <div class="separator1"></div>

    <iframe style="margin-bottom:2rem;margin-right:0.5rem" width="560" height="315" src="https://www.youtube.com/embed/LBBNhLslhA4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe style="margin-bottom:2rem;margin-right:0.5rem" width="560" height="315" src="https://www.youtube.com/embed/yyCmzORM6aI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe style="margin-bottom:2rem;margin-right:0.5rem" width="560" height="315" src="https://www.youtube.com/embed/78ydp_0Su3I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe style="margin-bottom:2rem;margin-right:0.5rem" width="560" height="315" src="https://www.youtube.com/embed/v3aGa27YeCA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe style="margin-bottom:2rem;margin-right:0.5rem" width="560" height="315" src="https://www.youtube.com/embed/g66Iz4hvXeg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe style="margin-bottom:2rem;margin-right:0.5rem" width="560" height="315" src="https://www.youtube.com/embed/gZTUzD4wrrg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe style="margin-bottom:2rem;margin-right:0.5rem" width="560" height="315" src="https://www.youtube.com/embed/pcCJq47bypA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe style="margin-bottom:2rem;margin-right:0.5rem" width="560" height="315" src="https://www.youtube.com/embed/acX6cE51PDg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="separator2"></div>

    <iframe style="margin-bottom:2rem;margin-right:0.5rem" width="560" height="315" src="https://www.youtube.com/embed/Bk-KiVChobw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe style="margin-bottom:2rem;margin-right:0.5rem" width="560" height="315" src="https://www.youtube.com/embed/F7OP8PPwx60" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe style="margin-bottom:2rem;margin-right:0.5rem" width="560" height="315" src="https://www.youtube.com/embed/YzCnbLbza2w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe style="margin-bottom:2rem;margin-right:0.5rem" width="560" height="315" src="https://www.youtube.com/embed/ARFOg7_X9m0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="separator3"></div>

    <div class="text-center">
      <a href="https://www.facebook.com/ghumatmogi/" target="_blank" class="font-link" style="margin-left:0px;margin-right:2rem"><i class="fab fa-facebook fa-lg"></i></a>
      <a href="http://youtube.com/c/GhumatMogi" target="_blank" class="font-link" style="margin-right:2rem"><i class="fab fa-youtube fa-lg"></i></a>
      <a href="https://www.instagram.com/ghumatmogi/" target="_blank" class="font-link" style="margin-right:2rem"><i class="fab fa-instagram fa-lg"></i></a>
    </div>


<%- include("partials/footer") -%>
