<%- include("partials/header") -%>

    <form class="" action="/masterEntryForm" method="post">
      <div class="form-group">

        <label>Master Name : </label>
        <input class="form-control" style="margin-bottom:20px" type="text" name="mastName" value="" aria-describedby="basic-addon1" autocomplete="off">
        <br>

        <label>Age : </label>
        <input class="form-control" style="margin-bottom:20px" type="text" name="mastAge" value="" aria-describedby="basic-addon1" autocomplete="off">
        <br>

        <label>Master's Address : </label>
        <input class="form-control" style="margin-bottom:20px" type="text" name="mastAddr" value="" aria-describedby="basic-addon1" autocomplete="off">
        <br>

        <label>Group's Teaching : </label>
        <input class="form-control" style="margin-bottom:20px" type="text" name="grpTeaching" value="" aria-describedby="basic-addon1" autocomplete="off">
        <br>

        <label>Achievements : </label>
        <input class="form-control" type="text" name="mastAchievements" value="" aria-describedby="basic-addon1" autocomplete="off">
        <br>

        <div class="" style="text-align:center">
           <button type="submit" class="btn btn-primary btn-lg" name="button">Submit</button>
       </div>

      </div>
<%- include("partials/footer") -%>
